# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

EWARMv5/GPIOToggle.dep
EWARMv5/GPIOToggle.ewd
EWARMv5/GPIOToggle/
EWARMv5/GPIOToggleCustomSfr.sfr
EWARMv5/settings/
Libraries/
